body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* my modyfi */
.navbar-nav > li {
    padding-top: 5px;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-nav > li .navbar-brand {
    padding: 15px 15px 0;
}
/* My styles */
/* layout */
/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
}


.footer__copyright {
    
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer__nav-link {
    margin-left: 1em;
    color: #333;
    padding: .5em 1em;
    border: 2px #000000 solid;
    border-radius: 2em;
    transition: border-color .2s linear, background-color .2s linear, color .2s linear;
}

   

    .footer__nav-link:focus {
        text-decoration: none;
        color: #333;
        
    }

    .footer__nav-link:hover {
        text-decoration: none;
        color: #EFEFEF;
        background-color: #000;
        border-color: #000;                                               
    }

    .footer__nav-link:first-child {
        margin-left: 0;
    }


/* /layout */


/* request */

.request__label {
   display: inline-block;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-style: italic;
   color: #333;
}

.request__theme {
    display: block;
    width: 50%;
    padding: 1rem 2rem;
    border: 2px #333 solid;
    border-radius: 2rem;
    transition: border-color .2s linear;
}

    .request__theme:focus {
        border-color: #3bc552;
        outline: none;
    }

.request__text {
    display: block;
    width: 50%;
    padding: 1rem 2rem;
    border: 2px #333 solid;
    border-radius: 2rem;
    transition: border-color .2s linear;
    height: 200px;
    resize: none;
}

    .request__text:focus {
        border-color: #3bc552;
        outline: none;
    }

.request__mail {
    display: block;
    width: 50%;
    padding: 1rem 2rem;
    border: 2px #333 solid;
    border-radius: 2rem;
    transition: border-color .2s linear;
}

    .request__mail:focus {
        border-color: #3bc552;
        outline: none;
    }

.request__select {
    display: block;
    width: 50%;
    padding: 1rem 2rem;
    border: 2px #333 solid;
    border-radius: 2rem;
    transition: border-color .2s linear;
}

    .request__select:focus {
        border-color: #3bc552;
        outline: none;
    }

.request__radio {
    display: block;
    width: 50%;
    padding: 1rem 2rem;
    border: 2px #333 solid;
    border-radius: 2rem;
    transition: border-color .2s linear;
    list-style-type: none;
    max-width: 280px;
}

    .request__radio:focus {
        border-color: #3bc552;
        outline: none;
    }

/*/request*/
                               
/* news */

.news {
    margin: 3rem 0 1rem;
}

.news__item {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .4);
    cursor: pointer;
    height:500px;
}

    .news__item:hover {
        box-shadow: 0 0 2rem rgba(0, 0, 0, .4);
    }

.news__title {
    padding-left: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
}

.news__text {
    padding: 0 1.5rem 2rem;  
    height: 110px;
}

.btn-news {
    margin: 0 0 10px 20px;

}

.news__img {
    width: 100%;
    height: 300px;
}

/* /news */

/*about*/

.about__text {
    font-weight:600;

}

.category {
    margin-top: 10px;
    padding:10px;
    border-radius:5px;
    border: 1px solid #000;
    padding-top: -20px;
}

.category__title {
    margin-top: 5px;
    text-align: center;
}

/*/about*/

/*post*/
.post__text {
    font-size: 20px;
    margin-top: 230px;
}

.post__img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 200px;
    margin: 0 auto;
    transform: translate(-50%,0);
}
/*/post*/

/*helpers*/
.text-center {
    text-align: center;
}

.pointer{
    cursor: pointer;
}

.mt-5 {
    margin-top: 5px;
}

.d-block {
    display: block;
    margin: 5px 0;
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
}


/*category*/



/*/category*/